In [3]:
import json

import pandas as pd

In [4]:
with open("the-graph.json") as graph_json:
    data = json.load(graph_json)

In [7]:
prices = data["prices"]

In [21]:
df = pd.DataFrame(prices, columns=["unix_ts", "price"])
df.dtypes

unix_ts      int64
price      float64
dtype: object

In [24]:
df["timestamp"] = pd.to_datetime(df["unix_ts"], unit='s')

OutOfBoundsDatetime: cannot convert input with unit 's'

In [23]:
df

            unix_ts     price                     timestamp
0     1608228816953  0.135246 1970-01-01 00:26:48.228816953
1     1608232109255  0.132723 1970-01-01 00:26:48.232109255
2     1608235767502  0.133249 1970-01-01 00:26:48.235767502
3     1608239204556  0.115321 1970-01-01 00:26:48.239204556
4     1608243223891  0.118031 1970-01-01 00:26:48.243223891
...             ...       ...                           ...
1467  1613516666110  2.090500 1970-01-01 00:26:53.516666110
1468  1613520510920  2.069149 1970-01-01 00:26:53.520510920
1469  1613525663735  1.997248 1970-01-01 00:26:53.525663735
1470  1613527648436  2.023473 1970-01-01 00:26:53.527648436
1471  1613530812072  1.985155 1970-01-01 00:26:53.530812072

[1472 rows x 3 columns]